<template>
  <Page>
    <Header v-slot:header/>
    <div class="section">
      <div class="section__full">
        <Breadcrumbs>
          <Breadcrumb href="/">
            Главная
          </Breadcrumb>
        </Breadcrumbs>
        <h1>Кейсы объектов</h1>
      </div>
    </div>
    <div class="section with-divider">
      <div class="columns is-gapless is-flex-wrap-wrap">
        <div class="column is-half is-full-touch" v-for="item in cases">
          <CaseCard
            :name="item.name"
            :path="item.name"
            :title="item.title"
            :description="item.description"
          />
        </div>
      </div>
    </div>
    <FeedbackSection />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Breadcrumbs from "@/components/Breadcrumbs";
import Breadcrumb from "@/components/Breadcrumb";
import CaseCard from "@/components/CaseCard";
import cases from "@/mixins/cases";
import FeedbackSection from "@/layouts/FeedbackSection";

export default {
  name: "index",
  components: {FeedbackSection, CaseCard, Breadcrumb, Breadcrumbs, Header, Page},
  mixins: [cases]
}
</script>

<style scoped>

</style>
