<template>
  <Page>
    <Header v-slot:header></Header>
    <div class="section with-divider">
      <div class="section__full">
        <Breadcrumbs>
          <Breadcrumb href="/">
            Главная
          </Breadcrumb>
        </Breadcrumbs>
        <h1 class="has-text-black">
          Вакансии
        </h1>

        <div class="section__columns pt-14">
          <div class="column-3-4 offset-40">
            <Vacancy id="sales_manager" class="with-divider">
              <template v-slot:title>Менеджер по продажам</template>
              <template>
                <p class="has-text-weight-bold">Требования к соискателям:</p>
                <ul>
                  <li>
                    Профильное образование;
                  </li>
                  <li>
                    Опыт 10 лет;
                  </li>
                  <li>
                    Наличие собственного авто;
                  </li>
                  <li>
                    Знание разговорного Пушту будет плюсом;
                  </li>
                  <li>
                    Навык искать воду в пустыне.
                  </li>
                </ul>
                <p class="has-text-weight-bold pt-3">Мы предлагаем:</p>
                <ul>
                  <li>
                    Корпоративное обучение;
                  </li>
                  <li>
                    ДМС;
                  </li>
                  <li>
                    «Белая» зарплата;
                  </li>
                  <li>
                    Пробки и опоздания не имеют значения;
                  </li>
                  <li>
                    Учет рабочего времени по СКУД.
                  </li>
                </ul>
              </template>
            </Vacancy>
            <Vacancy id="accountant-general" class="with-divider">
              <template v-slot:title>Главный бухгалтер</template>
              <template>
                <p class="has-text-weight-bold">Требования к соискателям:</p>
                <ul>
                  <li>
                    Профильное образование;
                  </li>
                  <li>
                    Опыт 10 лет;
                  </li>
                  <li>
                    Наличие собственного авто;
                  </li>
                  <li>
                    Знание разговорного Пушту будет плюсом;
                  </li>
                  <li>
                    Навык искать воду в пустыне.
                  </li>
                </ul>
                <p class="has-text-weight-bold pt-3">Мы предлагаем:</p>
                <ul>
                  <li>
                    Корпоративное обучение;
                  </li>
                  <li>
                    ДМС;
                  </li>
                  <li>
                    «Белая» зарплата;
                  </li>
                  <li>
                    Пробки и опоздания не имеют значения;
                  </li>
                  <li>
                    Учет рабочего времени по СКУД.
                  </li>
                </ul>
              </template>
            </Vacancy>
            <Vacancy id="driver" class="with-divider">
              <template v-slot:title>Водитель</template>
              <template>
                <p class="has-text-weight-bold">Требования к соискателям:</p>
                <ul>
                  <li>
                    Профильное образование;
                  </li>
                  <li>
                    Опыт 10 лет;
                  </li>
                  <li>
                    Наличие собственного авто;
                  </li>
                  <li>
                    Знание разговорного Пушту будет плюсом;
                  </li>
                  <li>
                    Навык искать воду в пустыне.
                  </li>
                </ul>
                <p class="has-text-weight-bold pt-3">Мы предлагаем:</p>
                <ul>
                  <li>
                    Корпоративное обучение;
                  </li>
                  <li>
                    ДМС;
                  </li>
                  <li>
                    «Белая» зарплата;
                  </li>
                  <li>
                    Пробки и опоздания не имеют значения;
                  </li>
                  <li>
                    Учет рабочего времени по СКУД.
                  </li>
                </ul>
              </template>
            </Vacancy>
          </div>
          <div class="column-1-4">
            <div class="left-top-border simple mobile-simple">
              <div class="pb-3 has-text-weight-bold">
                Откликнуться на вакансию
              </div>
              <p class="pt-3">
                Резюме направляйте на адрес
                <Link :icon="null" href="mailto:hr@celsiy.pro">hr@celsiy.pro</Link>
                или через сайт
                <Link :icon="null" href="hh.ru">hh.ru</Link>
                . Собеседование проходит в три этапа:
              </p>
              <ol>
                <li>
                  Предварительная беседа по скайпу (видео-интервью);
                </li>
                <li>
                  Очная встреча;
                </li>
                <li>
                  Финальная встреча с собственником.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <FeedbackSection />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Link from "@/components/Link";
import Vacancy from "@/components/Vacancy";
import Breadcrumbs from "@/components/Breadcrumbs";
import Breadcrumb from "@/components/Breadcrumb";
import FeedbackSection from "@/layouts/FeedbackSection";

export default {
  name: "index.vue",
  components: {FeedbackSection, Breadcrumb, Breadcrumbs, Vacancy, Link, Header, Page}
}
</script>

<style scoped>

</style>
