.article-categories {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $grey;
  @include desktop {
    padding-bottom: rem-calc(56px);
    margin: 0 -18px;
  }
  @include touch {
    padding-bottom: rem-calc(80px, true);
  }

  & > div {
    @include desktop {
      flex: 0 1;
      padding: 0 rem-calc(19px);
    }
    @include touch {
      flex: 1 0 100%;
      padding: rem-calc(8px, true) 0;
    }

    &:last-child {
      flex: 1 0;
      @include desktop {
        text-align: right;
      }
    }
  }
}

.article-preview {
  display: flex;
  border-bottom: 1px solid $grey;

  &:first-child {
    padding-top: 0;
  }

  @include desktop {
    padding: rem-calc(56px) 0;
  }
  @include touch {
    flex-wrap: wrap;
    padding: rem-calc(40px, true) 0;
  }

  &__category {
    color: $accent;

    &:before {
      content: ' \25CF';
      color: $accent;
      @include desktop {
        font-size: rem-calc(26.6px);
        line-height: rem-calc(28px);
        margin-right: rem-calc(10px);
      }
      @include touch {
        font-size: rem-calc(26.6px, true);
        line-height: rem-calc(18px, true);
        margin-right: rem-calc(8.6px, true);
      }
    }

    @include desktop {
      flex: 0 1 rem-calc(270px);
      padding-right: rem-calc(24px);
    }
    @include touch {
      flex: 1 0 100%;
    }
  }

  &__content {
    @include desktop {
      flex: 1 0;
      padding-right: rem-calc(24px);
    }
    @include touch {
      padding: rem-calc(8px, true) 0;
      flex: 1 0 100%;
    }
  }

  &__text {
    @include desktop {
      max-width: rem-calc(726px);
    }
  }

  &__img {
    & img {
      @include desktop {
        width: rem-calc(426px);
      }
    }

    @include desktop {
      flex: 0 1 rem-calc(426px);
    }
    @include touch {
      display: none;
    }
  }
}

.article-wrapper {
  display: flex;
  @include touch {
    flex-wrap: wrap;
  }

  &__left {
    @include desktop {
      flex: 0 1 rem-calc(270px);
      padding-right: rem-calc(24px);
    }
    @include touch {
      flex: 1 0 100%;
    }
  }

  &__category {
    color: $accent;

    &:before {
      content: ' \25CF';
      color: $accent;
      @include desktop {
        font-size: rem-calc(26.6px);
        line-height: rem-calc(28px);
        margin-right: rem-calc(10px);
      }
      @include touch {
        font-size: rem-calc(26.6px, true);
        line-height: rem-calc(18px, true);
        margin-right: rem-calc(8.6px, true);
      }
    }
  }

  &__shares {
    @include desktop {
      padding-top: rem-calc(377px);
    }
    @include touch {
      padding-top: rem-calc(41px, true);
      padding-bottom: rem-calc(40px, true);
    }

    & .ya-share2 {
      & .ya-share2__container {
        @include touch {
          text-align: center;
        }
      }

      & ul {
        & li {
          @include desktop {
            display: block !important;
          }

          &:before {
            display: none;
          }

          & .ya-share2__link {
            display: inline-block;
            border-left: 1px solid $grey;
            border-top: 1px solid $grey;
            text-align: center;
            @include desktop {
              width: rem-calc(64px);
              height: rem-calc(64px);
              margin-bottom: rem-calc(25px);
              padding-top: rem-calc(10px);
            }
            @include touch {
              width: rem-calc(48px, true);
              height: rem-calc(48px, true);
              margin-right: rem-calc(16px, true);
              padding-top: rem-calc(0px, true);
            }
          }

          & .ya-share2__badge {
            background-color: transparent;
          }

          & .ya-share2__icon {
            background-repeat: no-repeat;
          }
        }
      }

      & .ya-share2__item_service_vkontakte .ya-share2__icon {
        background-image: url("/img/icons/vk.svg");
        @include desktop {
          background-size: rem-calc(29px) !important;
        }
        @include touch {
          background-size: rem-calc(22px, true) !important;;
        }
      }

      & .ya-share2__item_service_facebook .ya-share2__icon {
        background-image: url("/img/icons/facebook.svg");
        @include desktop {
          background-size: rem-calc(15px) !important;;
        }
        @include touch {
          background-size: rem-calc(11px, true) !important;;
        }
      }

      & .ya-share2__item_service_odnoklassniki .ya-share2__icon {
        background-image: url("/img/icons/ok.svg");
        @include desktop {
          background-size: rem-calc(16px) !important;;
        }
        @include touch {
          background-size: rem-calc(12px, true) !important;;
        }
      }

      & .ya-share2__item_service_twitter .ya-share2__icon {
        background-image: url("/img/icons/twitter.svg");
        @include desktop {
          background-size: rem-calc(27px) !important;;
        }
        @include touch {
          background-size: rem-calc(20px, true) !important;;
        }
      }
    }
  }

  &__container {
    & h1 {
      @include desktop {
        margin-bottom: rem-calc(48px);
      }
      @include touch {
        margin-bottom: rem-calc(40px, true);
      }
    }

    @include desktop {
      flex: 1 0;
      padding-right: rem-calc(24px);

    }
    @include touch {
      padding: rem-calc(8px, true) 0;
      flex: 1 0 100%;
    }
  }
}

.article-pager {
  display: flex;
  justify-content: center;
  align-items: baseline;

  & > a {
    display: inline-block;
  }

  &__counter {
    display: flex;
    justify-items: baseline;

    & > a {
      display: inline-block;
      @include desktop {
        padding: 0 rem-calc(17px);
      }
      @include touch {
        padding: 0 rem-calc(12px, true);
      }
    }
  }

  &__left {
    background: url("/img/icons/arrow-left-surface.svg") no-repeat;
    background-size: cover;
    @include desktop {
      width: rem-calc(14px);
      height: rem-calc(14px);
      margin-right: rem-calc(38px);
    }
    @include touch {
      width: rem-calc(14px, true);
      height: rem-calc(14px, true);
      margin-right: rem-calc(30px, true);
    }
  }

  &__right {
    background: url("/img/icons/arrow-left-surface.svg") no-repeat;
    background-size: cover;
    transform: rotate(180deg);
    @include desktop {
      width: rem-calc(14px);
      height: rem-calc(14px);
      margin-left: rem-calc(38px);
    }
    @include touch {
      width: rem-calc(14px, true);
      height: rem-calc(14px, true);
      margin-left: rem-calc(30px, true);
    }
  }
}

.article-content {
  @include desktop {
    width: rem-calc(1176px);
  }
}

.article-img {
  @include touch {
    margin: 0 rem-calc(-24px, true);
    width: 100vw;
  }
}

.read-more-section {
  display: flex;
  @include desktop {
    cursor: pointer;
    height: rem-calc(480px);
  }
  @include touch {
    pointer-events: none;
    height: rem-calc(480px, true);
  }

  & .section__full {
    position: relative;
  }

  &__title {
    display: block;
    color: white !important;
    @include desktop {
      max-width: rem-calc(1176px);
    }
  }

  &__link {
    position: absolute;
    pointer-events: all;
    @include desktop {
      & .base-link__text {
        visibility: hidden;
      }
      bottom: rem-calc(64px);
    }
    @include touch {
      bottom: rem-calc(40px, true);
    }
  }

  &:hover {
    & .read-more-section__link {
      & .base-link__text {
        visibility: visible;
      }
    }
  }
}
