.breadcrumbs {
  display: flex;
  @include desktop {
    margin-bottom: rem-calc(16px);
  }
  @include touch {
    margin-bottom: rem-calc(8px, true);
  }
  & div.item {
    & a {
      text-decoration: none;
      display: inline-block;
      color: $text;
      border-bottom: 1px solid $link-main-underline;
    }
    &:before {
      display: inline-block;
      content: url("/img/icons/arrow-right.svg");
      @include desktop {
        padding: 0 rem-calc(14px);
      }
      @include touch {
        padding: 0 rem-calc(10px, true);
      }
    }
    &:first-child {
      &:before {
        content: none;
      }
    }
  }
}
