.case-begin {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid $grey;
  & > div {
    @include desktop {
      flex: 1 1 50%;
      height: rem-calc(480px);
      padding: rem-calc(56px) rem-calc(40px) rem-calc(56px) rem-calc(40px);
    }
    @include touch {
      flex: 1 1 100%;
      height: rem-calc(270px, true);
      padding: rem-calc(32px, true) rem-calc(24px, true) rem-calc(32px, true) rem-calc(24px, true);
    }
  }
  &__title {

  }
  &__writer {
    display: flex;
    flex-wrap: wrap;
    background-color: $accent;
    background-repeat: no-repeat;
    background-position-y: bottom;
    @include desktop {
      background-position-x: right;
      background-size: rem-calc(512px);
    }
    @include touch {
      background-position-x: right;
      background-size: rem-calc(254px, true);
    }

    & > div {
      flex: 1 1 100%;
    }

    & .quotes-block {
      align-self: stretch;
      background: url("/img/cases/quotes.svg") no-repeat;
      @include desktop {
        background-size: rem-calc(72px);
        flex: 0 1 rem-calc(114px);
      }
      @include touch {
        height: rem-calc(26.1px, true);
        margin-bottom: rem-calc(18px, true);
        background-size: rem-calc(40px, true);
      }
    }
    & .writer {
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title {
        font-weight: bold;
        //@include touch {
        //  margin-bottom: rem-calc(82px, true);
        //}
      }
      &__who {
        @include touch {
          max-width: rem-calc(148px, true);
        }
      }
    }
    &.ridan {
      background-image: url("/img/cases/ridan-writer.png");
    }
    @include touch {
      background-position-y: rem-calc(63px, true);
    }
  }
  &__table_of_contents {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & > div {
      @include desktop {
        padding-left: rem-calc(114px) !important;
      }
    }
  }
  &__img {
    background-size: cover;
    @include desktop {
      &.ridan {
        background-image: url("/img/cases/ridan.png");
      }
      &.evolution {
        background-image: url("/img/cases/evolution.png");
      }
      &.status {
        background-image: url("/img/cases/status.png");
      }
      &.jubilee {
        background-image: url("/img/cases/jubilee.png");
      }
      &.height {
        background-image: url("/img/cases/height.png");
      }
    }
    @include touch {
      &.ridan {
        background-image: url("/img/cases/ridan-mobile.png");
      }
      &.evolution {
        background-image: url("/img/cases/evolution-mobile.png");
      }
      &.status {
        background-image: url("/img/cases/status-mobile.png");
      }
      &.jubilee {
        background-image: url("/img/cases/jubilee-mobile.png");
      }
      &.height {
        background-image: url("/img/cases/height-mobile.png");
      }
    }
  }
}

.case-card {
  display: block;
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  //transition: background 0.6s linear;

  @include desktop {
    height: rem-calc(480px);
    padding: rem-calc(48px) rem-calc(40px) rem-calc(55px) rem-calc(40px);
    &.ridan {
      background-image: url("/img/cases/bg-gradient.png"), url("/img/cases/ridan.png");
    }
    &.evolution {
      background-image: url("/img/cases/bg-gradient.png"), url("/img/cases/evolution.png");
    }
    &.status {
      background-image: url("/img/cases/bg-gradient.png"), url("/img/cases/status.png");
    }
    &.jubilee {
      background-image: url("/img/cases/bg-gradient.png"), url("/img/cases/jubilee.png");
    }
    &.height {
      background-image: url("/img/cases/bg-gradient.png"), url("/img/cases/height.png");
    }
  }

  @include touch {
    pointer-events: none;
    height: rem-calc(270px, true);
    padding: rem-calc(32px, true) rem-calc(24px, true) rem-calc(32px, true) rem-calc(24px, true);
    &.ridan {
      background-image: url("/img/cases/bg-gradient-mobile.png"), url("/img/cases/ridan-mobile.png");
    }
    &.evolution {
      background-image: url("/img/cases/bg-gradient-mobile.png"), url("/img/cases/evolution-mobile.png");
    }
    &.status {
      background-image: url("/img/cases/bg-gradient-mobile.png"), url("/img/cases/status-mobile.png");
    }
    &.jubilee {
      background-image: url("/img/cases/bg-gradient-mobile.png"), url("/img/cases/jubilee-mobile.png");
    }
    &.height {
      background-image: url("/img/cases/bg-gradient-mobile.png"), url("/img/cases/height-mobile.png");
    }
  }

  &__title {
    display: block;
    @include desktop {
      max-width: rem-calc(726px);
    }
  }

  &__link {
    pointer-events: all;
    position: absolute;

    & .base-link__text {
      @include desktop {
        visibility: hidden;
      }
    }

    @include desktop {
      bottom: rem-calc(55px);
    }
    @include touch {
      bottom: rem-calc(32px, true);
    }
  }

  &__description {
    color: white;
    visibility: hidden;
    @include touch {
      display: none;
    }
    @include desktop {
      padding-top: rem-calc(32px);
    }
  }

  &:hover {
    background: $accent !important;
    @include desktop {
      & .case-card__link {
        & .base-link__text {
          visibility: visible;
          text-decoration-color: white !important;
        }
      }
    }

    & .case-card__description {
      @include desktop {
        visibility: visible;
      }
    }
  }
}
