.main-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.content-container {
  position: relative;
  flex-grow: 1;
  //padding: 0 0.75rem;
  @include desktop {
    flex: 1 1 rem-calc(1856px);
  }
}

.left-border {
  background-color: $surface;
  @include desktop {
    //width: rem-calc(32px);
    flex: 1 1 rem-calc(32px);
  }
  @include touch {
    display: none;
  }
  z-index: 5;
}

.right-border {
  background-color: $accent;
  @include desktop {
    //width: rem-calc(32px);
    flex: 1 1 rem-calc(32px);
  }
  @include touch {
    display: none;
  }
  z-index: 5;
}

.cont {
  @include desktop {
    padding: 0 rem-calc(40px);
  }
  @include touch {
    //padding: rem-calc(40px, true) rem-calc(24px, true) rem-calc(24px, true) rem-calc(24px, true);
    padding: 0;
  }
  margin-bottom: 0;
  margin-top: 0;

  &.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
  }
}

.section {
  display: flex;
  padding: 0 !important;
  flex-wrap: wrap;

  &.with-divider {
    border-bottom: 1px solid $grey;
  }

  @include touch {
    flex-wrap: wrap;
  }

  //& .column-1-4, & .column-3-4 {
  //  padding: rem-calc(56px) rem-calc(40px) rem-calc(144px) rem-calc(40px);
  //}

  &--accent {
    color: white;
    background-color: $accent;

    & h2.slight {
      color: $accent-light;
    }
  }

  & .column-3-4 {
    &.offset-40 {
      @include desktop {
        flex: 0 0 rem-calc(1159px - 40px);
      }
    }

    &:not(.padding-only-desktop) {
      @include touch {
        padding-bottom: rem-calc(80px, true);
      }
    }
  }

  & .column-1-4 {
    &:not(.padding-only-desktop) {
      @include touch {
        //padding-bottom: rem-calc(80px, true);
      }
    }
  }

  &__columns {
    display: flex;
    flex: 1 1 100%;
    @include touch {
      flex: 1 0 100%;
      flex-wrap: wrap;
    }
  }

  &__full {
    @include desktop {
      flex: 1 1 100%;
      padding: rem-calc(56px) rem-calc(40px) rem-calc(144px) rem-calc(40px);
    }
    @include touch {
      padding: rem-calc(40px, true) rem-calc(24px, true) rem-calc(80px, true) rem-calc(24px, true);
    }
  }

  &__half-second {
    @include desktop {
      flex: 0 1 50%;
      padding: rem-calc(56px) rem-calc(40px) rem-calc(144px) 0;
    }
    @include touch {
      flex: 1 1 100%;
      padding: rem-calc(39px, true) rem-calc(24px, true) rem-calc(80px, true) rem-calc(24px, true);
    }
  }

  &__half {
    flex: 0 1 50%;
    @include touch {
      flex: 1 1 100%;
      padding: rem-calc(39px, true) rem-calc(24px, true) rem-calc(80px, true) rem-calc(24px, true);
      &.with-divider {
        border-bottom: 1px solid $grey;
      }
    }

    &:last-child:not(&:first-child) {
      @include desktop {
        padding: rem-calc(104px) rem-calc(40px) rem-calc(144px) rem-calc(141px);
      }
    }

    @include desktop {
      &.with-divider {
        border-right: 1px solid $grey;
      }
      padding: rem-calc(56px) rem-calc(40px) rem-calc(144px) rem-calc(40px);
    }
  }
}

.cont-touch {
  @include touch {
    padding: 0 rem-calc(24px, true);
  }
}

.column-3-4 {
  @include desktop {
    flex: 0 0 rem-calc(1159px);
  }
  @include touch {
    width: 100%;
    flex-grow: 1;
  }

  &.with-divider {
    @include desktop {
      border-right: 1px solid $grey;
    }
  }
}

.column-1-4 {
  flex-grow: 1;
  @include desktop {
    padding: 0 rem-calc(40px);
  }
  @include touch {
    width: 100%;
    flex-grow: 1;
  }
}

.content-wrapper {
  @include desktop {
    width: rem-calc(876px);
  }
}
