.equipment-page {
  .pipes3-bg {
    @include desktop {
      background: url("/img/pipes-3.svg") no-repeat;
      background-size: cover;
    }
    @include touch {
      background: url("/img/pipes-3-mobile.svg") no-repeat;
      background-size: 100%;
    }
  }
  .vendor-img {
    @include desktop {
      height: rem-calc(155px);
    }
    @include touch {
      height: rem-calc(74px, true);
      //width: rem-calc(74px, true);
    }
  }
}

.section-equipment-form {
  color: white;
  @include desktop {
    background: url("/img/equipment/ventilation.png") $accent;
    background-repeat: no-repeat !important;
    background-position: right rem-calc(150px);
    background-blend-mode: multiply;
  }

  @include touch {
    background-color: $accent;
  }
}

.subjects--mounters {
  & .left-top-border {
    @include desktop {
      height: rem-calc(335px);
    }
    @include touch {
      height: rem-calc(196px, true);
    }
  }
  & .subject {
    @include touch {
      flex: 1 0 100%;
    }
  }
}
