.form {

}

@keyframes spinner
{
  0%   {}
  100% {transform: rotate(-360deg);}
}
@-webkit-keyframes spinner
{
  0%   {}
  100% {-webkit-transform: rotate(-360deg);}
}

.input-wrapper {
  border-left: 1px solid $grey;
  border-bottom: 1px solid $grey;
  display: flex;
  align-items: center;
  //height: rem-calc(64px);
  @include desktop {
    padding: 0 0 rem-calc(23px) rem-calc(23px);
    margin-bottom: rem-calc(32px);
  }
  @include touch {
    padding: 0 0 rem-calc(12px, true) rem-calc(12px, true);
    margin-bottom: rem-calc(16px, true);
  }
  & input {
    flex: 1 0;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    color: $text;
    padding: 0;
    @include desktop {
      font-size: $size-2;
      height: rem-calc(64px);
      line-height: rem-calc(64px);
    }
    @include touch {
      font-size: $size-touch-2;
      height: rem-calc(28px, true);
      line-height: rem-calc(28px, true);
    }

    &:focus {
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      outline: none !important;
    }

    &::placeholder {
      color: $disabled;
      @include desktop {
        font-size: $size-2;
      }
      @include touch {
        font-size: $size-touch-2;
      }
    }
  }
}

.feedback-form {
  @include desktop {
    padding-top: rem-calc(128px);
    padding-bottom: rem-calc(144px) !important;
    width: rem-calc(876px);
  }
  @include touch {
    padding-top: rem-calc(56px, true);
    padding-bottom: rem-calc(80px, true) !important;
  }
  & input {
    width: 100%;
  }
  &__submit {
    color: $link;
    cursor: pointer;
    display: inline-block;
    border-bottom: 1px solid $link-underline;

    @include desktop {
      font-size: $size-2;
      line-height: rem-calc(64px);
      padding-bottom: rem-calc(6px);
    }
    @include touch {
      font-size: $size-touch-2;
      line-height: rem-calc(28px, true);
      padding-bottom: rem-calc(2px, true);
    }

  }
  &__status {
    display: inline-block;
    @include desktop {
      margin-left: rem-calc(8px);
    }
    @include touch {
      margin-left: rem-calc(4px);
    }
    &.submitting {
      &:after {
        content: ' ';
        background: url("/img/icons/spinner1.svg");
        background-size: cover;
        animation: spinner 1s linear infinite;
        display: inline-block;
        @include desktop {
          width: rem-calc(30px);
          height: rem-calc(30px);
        }
        @include touch {
          width: rem-calc(16px, true);
          height: rem-calc(16px, true);
        }
      }
    }
    &.submitted {
      &:after {
        content: ' ';
        background: url("/img/icons/ready.svg");
        background-size: cover;
        display: inline-block;
        @include desktop {
          width: rem-calc(34px);
          height: rem-calc(30px);
        }
        @include touch {
          width: rem-calc(18px, true);
          height: rem-calc(16px, true);
        }
      }
    }
  }

  &.on_dark {
    .input-wrapper {
      border-left: 1px solid $accent-light;
      border-bottom: 1px solid $accent-light;
    }
    & .feedback-form__submit {
      color: white;
      border-bottom: 1px solid $link-white-underline;
    }
    & .feedback-form__status {
      &.submitting {
        &:after {
          background: url("/img/icons/spinner1-white.svg");
          background-size: cover;
        }
      }
      &.submitted {
        &:after {
          background: url("/img/icons/ready-white.svg");
          background-size: cover;
        }
      }
    }
    & input {
      color: white;
      &::placeholder {
        color: $link-white-underline;
      }
    }
  }
}


.subscribe-form {
  @include desktop {
    max-width: rem-calc(852px);
  }
  & .input-wrapper {
    max-width: rem-calc(312px, true);
    overflow: hidden;
    & input {
      max-width: 93%;
    }
  }
}

.input-submit-button {
  display: inline-block;
  &:after {
    content: ' ';
    background: url("/img/icons/arrow-left-surface.svg");
    transform: rotate(180deg);
    display: inline-block;
    background-size: cover;
    @include desktop {
      width: rem-calc(30px);
      height: rem-calc(30px);
    }
    @include touch {
      width: rem-calc(20px, true);
      height: rem-calc(20px, true);
    }
  }
  &.submitting {
    &:after {
      transform: unset;
      content: ' ';
      background: url("/img/icons/spinner1.svg");
      background-size: cover;
      animation: spinner 1s linear infinite;
      display: inline-block;
      @include desktop {
        width: rem-calc(30px);
        height: rem-calc(30px);
      }
      @include touch {
        width: rem-calc(20px, true);
        height: rem-calc(20px, true);
      }
    }
  }
  &.submitted {
    &:after {
      transform: unset;
      content: ' ';
      background: url("/img/icons/ready.svg");
      background-size: cover;
      display: inline-block;
      @include desktop {
        width: rem-calc(34px);
        height: rem-calc(30px);
      }
      @include touch {
        width: rem-calc(20px, true);
        height: rem-calc(18px, true);
      }
    }
  }
}

.agree-checkbox {
  display: flex;
  align-items: start;
  & label {
    & input {
      min-width: 13px;
    }
    @include desktop {
      padding-top: rem-calc(2px);
      padding-right: rem-calc(8px);
    }
    @include touch {
      padding-top: rem-calc(2px, true);
      padding-right: rem-calc(8px, true);
    }
  }
}
