//$font-size: 20px;
$font-size: 1.04vw;
$desktop-vw-viewport: 1920;
$mobile-vw-viewport: 360;

@function rem-calc($size, $is_mobile: false) {
  //$font-size: $font-size + 0px;
  //$remSize: $size / $font-size;
  //@return #{$remSize}rem;
  $vw-viewport: $desktop-vw-viewport;
  @if $is_mobile {
    $vw-viewport: $mobile-vw-viewport
  } @else {
    $vw-viewport: $desktop-vw-viewport
  }

  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}

@function mobile-calc($size, $font-size : $font-size) {
  //$font-size: $font-size + 0px;
  //$remSize: $size / $font-size;
  //@return #{$remSize}rem;

  $vw-context: $desktop-vw-viewport * 0.01 * 1px;
  @return $size / $vw-context * 1vw;
  @return $size;
}

$firstscreen-menu-catalog-width-percent: 822*100/1920;

@function firstscreen-menu-catalog-width() {
  @return #{$firstscreen-menu-catalog-width-percent}vw;
}

@function firstscreen-menu-catalog-right() {
  @return rem-calc(-40px - 32px);
}

@function firstscreen-pipes-right() {
  //@return calc(-40px - 32px - (822px - #{$firstscreen-menu-catalog-width-percent}vw))
  @return rem-calc(-40px - 32px)
}
