$header-top-padding: rem-calc(56px);

.main-header {
  position: absolute;
  z-index:5;
  left: 0;
  right: 0;
  @include touch {
    border-top: rem-calc(8px, true) solid $accent;
    padding: rem-calc(24px, true) rem-calc(24px, true) 0 rem-calc(24px, true);
  }
}

.header {
  display: flex;
  @include desktop {
    border-bottom: 1px solid $grey;
  }
  &__logo-column {
    @include desktop {
      flex: 1 1 50%;
      //width: rem-calc(928px - 80px);
      border-right: 1px solid $grey;
      padding: 0 rem-calc(40px) rem-calc(80px) rem-calc(40px);
    }
    @include touch {
      flex: 1 0;
      padding: rem-calc(32px, true) rem-calc(24px, true) rem-calc(32px, true) rem-calc(24px, true);
    }
  }
  &__menu-column {
    @include desktop {
      flex: 1 1 50%;
      padding-left: rem-calc(141px);
    }
    @include touch {
      display: none;
      //flex: 0 1;
      //padding: rem-calc(32px, true) rem-calc(24px, true) rem-calc(32px, true) 0;
    }
  }
}

.left-header {
  display: flex;
  @include desktop {
    padding: $header-top-padding 0 0 0;
  }
  @include touch {
    padding: 0;
  }

  & > div.column {
    padding: 0;
  }
}

.logo {
  @include desktop {
    height: rem-calc(50px)
  }
  @include touch {
    height: rem-calc(25.17px, true)
  }
}

.header-phone {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: rem-calc(28px);
}

.header-menu {
  margin:0 !important;
  padding-top: $header-top-padding;
  display: flex;
  justify-content: flex-end;
  padding-right: rem-calc(100px);
  & > div {
    padding: 0 rem-calc(12px);
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  &__lens {
    width: rem-calc(18px);
    margin-bottom: rem-calc(-3px);
    cursor: pointer;
  }
}

