$first-screen-bottom-padding: 148px;

.first-screen {
  margin-top: rem-calc(136px);
  padding-bottom: rem-calc($first-screen-bottom-padding);
  @include desktop {
    height: rem-calc(960px);
  }
  @include touch {
    flex-direction: column !important;
    background: url("/img/landing/first-screen-mobile.png") no-repeat;
    background-size: 100%;
  }
  & > .column {
    @include touch {
      position: relative;
      height: rem-calc(480px, true);
    }
  }
}

.first-screen-slogan {
  @include touch {
    padding-top: rem-calc(200px, true)
  }
}

.landing-screen {
  @include desktop {
    padding: rem-calc(56px) rem-calc(40px) 0 rem-calc(40px);
  }
  @include touch {
    padding: rem-calc(40px, true) rem-calc(24px, true) rem-calc(80px, true) rem-calc(24px, true);
  }
}

.main-catalog-card {
  z-index: 6;
  //top: rem-calc(136px);
  @include desktop {
    position: absolute;
    top: 0;
    right: firstscreen-menu-catalog-right();
    width: firstscreen-menu-catalog-width();
    height: rem-calc(960px);
    padding-bottom: rem-calc($first-screen-bottom-padding);
    padding-left: rem-calc(56px);
    background: url("/img/pipes-1.png") $accent;
    background-size: rem-calc(822px);
  }
  @include touch {
    width: 100%;
    height: rem-calc(480px, true);
    background: url("/img/pipes-1-mobile.png") $accent;
    background-size: 100%;
  }
  @include desktop {
    &.water_supply {
      background: url("/img/equipment/water_supply.png") $accent;
      background-size: rem-calc(822px);
    }

    &.ventilation {
      background: url("/img/equipment/ventilation.png") $accent;
      background-size: rem-calc(822px);
    }

    &.heating {
      background: url("/img/equipment/heating.png") $accent;
      background-size: rem-calc(822px);
    }

    &.heating_networks {
      background: url("/img/equipment/heating_networks.png") $accent;
      background-size: rem-calc(822px);
    }

    &.heat_point {
      background: url("/img/equipment/heat_point.png") $accent;
      background-size: rem-calc(822px);
    }

    &.industrial {
      background: url("/img/equipment/industrial.png") $accent;
      background-size: rem-calc(822px);
    }

    &.no_background {
      background: url("/img/equipment/empty.png") $accent;
      background-size: rem-calc(822px);
    }
  }
  background-repeat: no-repeat !important;
  background-blend-mode: multiply;
  transition: background 0.3s linear;

  &__layout {
    padding-top: rem-calc(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include touch {
      padding-bottom: rem-calc(48px, true);
    }

    & > div {
      flex-shrink: 1;
      flex-grow: 0;
    }
  }

  &__menu {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.5s linear;
    transition-delay: 0.3s;

    &.hide_by_search {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0s;
    }
  }
}

.first-screen-pipes {
  position: absolute;
  z-index: -1;
  right: firstscreen-pipes-right();
  top: 0;
  @include desktop {
    width: rem-calc(1920px);
    height: rem-calc(960px);
  }
  @include touch {
    width: rem-calc(320px, true);
    height: rem-calc(480px, true);
  }
  background: url("/img/pipes-2.svg") no-repeat;
  background-size: rem-calc(1157px);
  background-position-x: 0;
  border-bottom: 1px solid $grey;
}

.first-screen-catalog {
  &__menu {
    @include desktop {
      padding-top: rem-calc(20px);
    }
    @include touch {
      padding-top: rem-calc(24px, true);
    }

    & > div a {
      display: inline-block;
      @include desktop {
        padding: rem-calc(4px) 0;
      }
      @include touch {
        padding: rem-calc(8px, true) 0;
      }
    }
  }

  &__list {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.5s, opacity 0.5s linear;
    transition-delay: 0.3s;

    &.hide_by_search {
      opacity: 0;
      visibility: hidden;
      transition-delay: 0s;
    }
  }
}

.screen-stats {
  @include desktop {
    padding-bottom: rem-calc(144px) !important;
  }
}

.landing-stats {
  margin: 0 !important;
  padding: rem-calc(145px) 0 0 0;

  & > .column {
    padding: 0 !important;
  }

  &__subrow {
    margin: 0 !important;

    & > .column {
      padding: 0 0 0 24px;
    }
  }

  &__icon {
    padding-top: rem-calc(30px) !important;
  }
}

.customers {
  width: 100%;
  @include touch {
    margin-top: rem-calc(16px, true);
  }

  & .customers-row {
    @include desktop {
      width: rem-calc(1466px);
      height: rem-calc(275px);
    }
    @include touch {
      width: 100%;
      height: rem-calc(118px, true);
    }
    display: flex;
    justify-content: space-around;
    align-items: center;

    & .column {
      text-align: center;

      & .link {
        display: block;
        visibility: hidden;
      }

      &:hover {
        & .link {
          visibility: visible;
        }
      }

      &.leroymerlin img {
        @include desktop {
          width: rem-calc(184px);
        }
        @include touch {
          width: rem-calc(77.9px, true);
        }
      }

      &.ilim img {
        @include desktop {
          width: rem-calc(258px);
        }
        @include touch {
          width: rem-calc(109.07px, true);
        }
      }

      &.stroycomplex img {
        @include desktop {
          width: rem-calc(256px);
        }
        @include touch {
          width: rem-calc(108.23px, true);
        }
      }

      &.newcity img {
        @include desktop {
          width: rem-calc(284px);
        }
        @include touch {
          width: rem-calc(120.07px, true);
        }
      }

      &.rodny_berega img {
        @include desktop {
          width: rem-calc(320px);
        }
        @include touch {
          width: rem-calc(140px, true);
        }
      }

      &.yanta img {
        @include desktop {
          width: rem-calc(180px);
        }
        @include touch {
          width: rem-calc(80px, true);
        }
      }

      &.slata img {
        @include desktop {
          width: rem-calc(232px);
        }
        @include touch {
          width: rem-calc(103px, true);
        }
      }

      &.uks img {
        @include desktop {
          width: rem-calc(136px);
        }
        @include touch {
          width: rem-calc(55px, true);
        }
      }
    }
  }
}

.screen-garants {
  position: relative;
  width: 100%;
  @include desktop {
    height: rem-calc(960px);
    background: url("/img/landing/garants_gradient.png"), url("/img/landing/garants1.png");
    background-size: cover;
  }
  @include touch {
    height: rem-calc(640px, true);
    background: url("/img/landing/garants-mobile.png") no-repeat;
    background-size: cover;
    h2 {
      margin-bottom: rem-calc(144px, true);
    }
    & > .landing-screen {
      padding-bottom: rem-calc(66px, true);
    }
  }

  &__content {
    @include desktop {
      margin-top: rem-calc(352px);
      width: rem-calc(576px);
    }
    @include touch {
      width: 100%;
    }
  }

  .distributor-name {
    display: inline-block;
    color: white;
    //padding-top: rem-calc(2px);
    border-bottom: 1px solid $link-white-underline;
    cursor: pointer;

    &:hover {
      border-bottom: 1px solid white;
    }
  }
}

.landing-stats-mobile {
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  padding-top: rem-calc(144px, true);
  & > .column {
    padding: rem-calc(8px, true);
  }
  &__objects-link {
    padding-top: rem-calc(16px, true) !important;
    padding-bottom: rem-calc(80px, true) !important;
  }
  &__providers-link {
    padding-top: rem-calc(16px, true) !important;
  }
}

.screen-price {
  width: 100%;
  transition: background 0.7s linear;
  background-size: cover;
  @include desktop {
    position: relative;
    height: rem-calc(960px);
    padding-bottom: rem-calc(64px);

  }
  @include touch {
    height: rem-calc(640px, true);
  }

  &.bg1 {
    @include desktop {
      background-image: url("/img/landing/price_gradient.png"), url("/img/landing/price.png");
    }
    @include touch {
      background-image: url("/img/landing/price1-mobile.png");
      background-repeat: no-repeat;
    }
  }

  &.bg2 {
    @include desktop {
      background-image: url("/img/landing/price_gradient.png"), url("/img/landing/price2.png");
    }
    @include touch {
      background-image: url("/img/landing/price2-mobile.png");
      background-repeat: no-repeat;
    }
  }

  //background-blend-mode: multiply;

  & .landing-screen {
    position: relative;
    width: 100%;
    height: 100%;
    @include touch {
      padding-left: 0;
      padding-right: 0;
    }
    & h2 {
      @include touch {
        padding-left: rem-calc(24px, true);
      }
    }
  }

  &__content {
    position: absolute;
    bottom: 0;
    @include touch {
      padding-left: rem-calc(24px, true);
      padding-right: rem-calc(24px, true);
    }
    @include touch {
      padding-bottom: rem-calc(80px, true);
    }
  }

  & .price-options {
    display: flex;
    @include desktop {
      align-items: flex-end;
    }
    @include touch {
      flex-direction: column;
    }

    .price-option {
      @include desktop {
        width: rem-calc(536px);
        border-bottom: rem-calc(4px) solid $link-white-underline;
        padding-bottom: rem-calc(30px);
        margin-right: rem-calc(64px);
      }
      @include touch {
        width: 100%;
        border-bottom: rem-calc(4px, true) solid $link-white-underline;
        padding-top: rem-calc(40px, true);
        padding-bottom: rem-calc(24px, true);
      }

      cursor: pointer;

      &.active {
        @include desktop {
          border-bottom: rem-calc(4px) solid white;
        }
        @include touch {
          border-bottom: rem-calc(3px, true) solid white;
        }
      }

      &__title {

      }

      &__info {
        //height: 0;
        //overflow: hidden;
        @include touch {
          padding-top: rem-calc(24px, true);
        }

        & > div {
          //height: auto;
          //max-height: 0;
          display: none;
          transition: height 0.8s ease-out;
          //transition: max-height 0.8s ease-out;
          transition-delay: 0s;
        }

        &.active {
          & > div {
            display: block;
            @include desktop {
              //max-height: rem-calc(250px);

            }
            @include touch {
              //max-height: rem-calc(250px, true);
            }
          }

          height: auto;
          //height: 500px;
        }
      }
    }
  }
}
