.mobile-menu {
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  transition: right;
  background-color: $accent;
  padding: rem-calc(34.31px, true) rem-calc(26.62px, true) rem-calc(48px, true) rem-calc(30px, true);
  z-index: 10;
  &.show {
    right: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    & > img {
      flex-shrink: 1;
      flex-grow: 0;
      width: rem-calc(24px, true);
    }

    & > .control {
      display: inline-block;
      border: none !important;
      flex-shrink: 0;
      flex-grow: 1;
    }

    & input {
      font-size: $size-touch-5;
      background: none !important;
      border: none !important;
      box-shadow: none !important;
      color: white;
      padding: 0 0 0 rem-calc(6px, true);

      &::placeholder {
        color: rgba(255, 255, 255, 0.5)
      }
    }
  }
  &__menu {
    padding-top: rem-calc(97.31px, true);
    text-align: left;
    & > div {
      padding-bottom: rem-calc(24px, true);
    }
  }
}
