.red-popup {
  overflow-y: auto;
  @include desktop {
    padding: rem-calc(56px);
    position: fixed;
    right: rem-calc(-822px);
    width: rem-calc(822px);
    height: rem-calc(960px);
  }
  @include touch {
    padding: rem-calc(34px, true) rem-calc(24px, true) rem-calc(24px, true) rem-calc(24px, true);
    position: fixed;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    font-size: $size-touch-5;
  }
  top: 0;
  background-color: $accent;
  color: white;
  transition: right 0.3s linear;

  &.active {
    right: 0;
  }
  &__cont {
    position: relative;
    @include touch {
      padding-top: rem-calc(24px, true);
      padding-right: rem-calc(24px, true);
    }
  }
  &__close {
    position: absolute;
    right:0;
    top:0;
    cursor: pointer;
    z-index: 20;
    background: url("/img/icons/times.svg");
    background-size: cover;
    @include desktop {
      width: rem-calc(14px);
      height: rem-calc(14px);
    }
    @include touch {
      width: rem-calc(18px, true);
      height: rem-calc(18px, true);
    }
    &.on_layer {
      //background-color: white;
      background: url("/img/icons/times-surface.svg") no-repeat;
      background-size: 70%;
      background-position: center center;
      & path {
        fill: $surface;
        stroke: $surface;
      }
      @include desktop {
        width: rem-calc(40px);
        height: rem-calc(40px);
        padding: rem-calc(10px);
      }
      @include touch {
        padding: rem-calc(10px, true);
        width: rem-calc(40px, true);
        height: rem-calc(40px, true);
      }
    }
  }
}
