html {
  font-size: $font-size !important;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~raleway-webfont/fonts/Raleway-Light.ttf") format('truetype');
}

//@font-face {
//  font-family: Raleway;
//  font-style: normal;
//  font-weight: 700;
//  font-display: swap;
//  src: url("~raleway-webfont/fonts/Raleway-Bold.ttf") format('truetype');
//}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Rubik/Rubik-Regular.ttf") format('truetype');
}

html {
  @include desktop {
    scroll-behavior: smooth;
  }
  h1 {
    font-weight: 700;
    @include desktop {
      font-size: $size-1;
      line-height: rem-calc(88px);
    }
    @include touch {
      font-size: $size-touch-1;
      line-height: rem-calc(36px, true);
    }
  }

  h2 {
    @include desktop {
      font-size: $size-2;
      line-height: rem-calc(64px);
    }
    @include touch {
      font-size: $size-touch-2;
      line-height: rem-calc(28px, true);
    }
    font-weight: 700;
    &.slight {
      @include desktop {
        padding-bottom: rem-calc(48px);
      }
      @include touch {
        padding-bottom: rem-calc(24px, true);
      }
      color: black;
      font-weight: 500;
    }
  }

  h3 {
    @include desktop {
      font-size: $size-3;
      line-height: rem-calc(32px);
    }
    @include touch {
      font-size: $size-touch-3;
      line-height: rem-calc(24px, true);
    }
    font-weight: 700;
  }

  p {
    @include desktop {
      padding-bottom: rem-calc(24px);
    }
    @include touch {
      padding-bottom: rem-calc(12px, true);
    }
  }

  .is-size-2 {
    line-height: 1;
  }

  body {
    @include desktop {
      font-size: 1rem;
    }
    @include touch {
      font-size: $size-touch-5;
    }
    color: $text;
  }

  hr {
    height: 1px;
    margin: 0;
    background-color: $grey;
  }

  .pt-1 {
    @include touch {
      padding-top: rem-calc(8px, true) !important;
    }
  }
  .pt-2 {
    @include touch {
      padding-top: rem-calc(16px, true) !important;
    }
  }

  .pt-14 {
    @include desktop {
      padding-top: rem-calc(144px);
    }
    @include touch {
      padding-top: rem-calc(56px, true) !important;
    }
  }

  .pb-14 {
    @include desktop {
      padding-bottom: rem-calc(144px);
    }
    @include touch {
      padding-bottom: rem-calc(80px, true) !important;
    }
  }

  .pt-104 {
    @include desktop {
      padding-top: rem-calc(104px);
    }
    @include touch {
      padding-top: rem-calc(32px, true) !important;
    }
  }

  .pt-3-touch {
    @include touch {
      padding-top: rem-calc(24px, true) !important;
    }
  }

  .pt-4-touch {
    @include touch {
      padding-top: rem-calc(32px, true) !important;
    }
  }

  .pt-2-touch {
    @include touch {
      padding-top: rem-calc(16px, true) !important;
    }
  }

  .pb-0-touch {
    @include touch {
      padding-bottom: 0 !important;
    }
  }

  .pb-2-touch {
    @include touch {
      padding-bottom: rem-calc(16px, true) !important;
    }
  }

  .is-size-3 {
    @include touch {
      font-size: $size-touch-3 !important;
      line-height: rem-calc(20px, true);
    }
  }

  .is-size-5-touch {
    @include touch {
      font-size: $size-touch-5 !important;
      line-height: rem-calc(20px, true);
    }
  }
  .is-size-4-touch {
    @include touch {
      font-size: $size-touch-4 !important;
      line-height: rem-calc(24px, true);
    }
  }
  .is-size-3-touch {
    @include touch {
      font-size: $size-touch-3 !important;
      line-height: rem-calc(24px, true);
    }
  }
  .is-size-2-touch {
    @include touch {
      font-size: $size-touch-2 !important;
      line-height: rem-calc(28px, true);
    }
  }

  .is-size-0-touch {
    @include touch {
      font-size: $size-touch-0 !important;
      line-height: rem-calc(32px, true);
    }
  }
}

.h2-right-notice {
  padding-top: rem-calc(16px) !important;
}

.icon-button {
  cursor: pointer;
  &.has-text-grey {
    & path {
      stroke: $text;
      fill: $text;
    }
  }
  @include desktop {
    height: rem-calc(15px);
  }
  @include touch {
    height: rem-calc(20px, true);
  }
}

.has-text-accent-light {
  color: $accent-light;
}

.base-link {
  display: inline-block;
  white-space: nowrap;

  &:not(.icon-null) {
    &:before {
      content: ' ';
      display: inline-block;
      //transform: scale(0.8);
      width: 0.8em;
      height: 0.8em;
      color: inherit;
      background-size: contain !important;
      background-repeat: no-repeat !important;
      @include desktop {
        margin-right: 0.25em;
        margin-bottom: -0.05em;
      }
      @include touch {
        margin-right: rem-calc(8px, true);
      }
    }
  }

  &__append {
    width: 0.6em;
    height: 0.6em;
    @include desktop {
      margin-left: rem-calc(10px);
    }
    @include touch {
      margin-left: rem-calc(8px, true);
    }
    display: inline-block;
    &-icon-plus {
      background: url("/img/icons/plus.svg");
      background-size: cover;
    }
  }

  &.icon-null {
    &:before {
      width: 0;
      margin-right: 0;
    }
  }

  &.icon-phone {
    &:before {
      background: url("/img/icons/phone.svg");
    }
  }
  &.icon-envelopStrong {
    &:before {
      background: url("/img/icons/envelop-strong.svg");
    }
  }
  &.icon-arrowRight {
    &:before {
      background: url("/img/icons/arrow-right.svg");
    }
    &.link:before {
      background: url("/img/icons/arrow-right-surface.svg");
    }
    &.link-light:before {
      background: url("/img/icons/arrow-right-surface-light.svg");
    }
    &.link-white:before {
      background: url("/img/icons/arrow-right-white.svg");
    }
  }
  &.icon-arrowDown {
    &:before {
      background: url("/img/icons/arrow-down.svg");
    }
  }
  &.icon-caret {
    &:before {
      background: url("/img/icons/caret.svg");
    }
    &.link:before {
      background: url("/img/icons/caret-surface.svg");
    }
  }
  &.icon-plus {
    &:before {
      background: url("/img/icons/plus.svg");
    }
  }


  &__append-icon {

  }
  & > div {
    vertical-align: top;
    display: inline-block;
  }
  & svg {
    width: 0.7em;
    height: 0.7em;
  }
  &__text {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    white-space: normal;
    display: inline-block;
    @include desktop {
      //text-underline-offset: rem-calc(4px);
      text-underline-offset: 0.2em;
    }
    @include touch {
      //text-underline-offset: rem-calc(4px, true);
      text-underline-offset: 0.2em;
    }
  }
  &.no-wrap {
    white-space: nowrap;
    & .base-link__text {
      white-space: nowrap;
    }
  }
  &.no-underline {
    & .base-link__text {
      text-decoration: none;
    }
  }
  &.noclickable {
    cursor: auto;
    & .base-link__text {
      text-decoration: none;
    }
  }
}

.link {
  color: $link;

  & svg, svg > path {
    stroke: $link;
  }

  &:not(.simple) .base-link__text {
    //border-bottom: 1px solid $link-underline;
    text-decoration-color: $link-underline;
  }
  &.simple .base-link__text {
    //border-bottom: 1px solid $link-underline;
    text-decoration-color: transparent;
  }

  &:hover, &.active {
    color: $link;
    & .base-link__text {
      //border-bottom: 1px solid $link-underline;
      text-decoration-color: $link;
    }
  }
}

.link-main {
  color: $text;

  & svg, svg > path {
    stroke: $text;
  }

  & .base-link__text {
    //border-bottom: 1px solid $link-main-underline;
    text-decoration-color: $link-main-underline;
  }
}

.link-light {
  color: $link-light;

  &:hover {
    color: $link-light;
  }

  & svg, svg > path {
    stroke: $link-light;
  }

  & .base-link__text {
    //border-bottom: 1px solid $link-light;
    text-decoration-color: $link-light;
  }
}

.link-white {
  color: white;

  & svg, svg > path {
    stroke: white;
  }

  & .base-link__text {
    //border-bottom: 1px solid $link-white-underline;
    text-decoration-color: $link-white-underline;
  }

  &:hover {
    color: white;

    & .base-link__text {
      color: white;
      text-decoration-color: white;
      //border-bottom: 1px solid white;
    }
  }
}

.base-link.link-white-simple {
  color: white;

  & .base-link__text {
    text-decoration: none;
  }

  &:hover {
    color: white;

    & .base-link__text {
      color: white;
      text-decoration: underline;
      text-decoration-color: white;
      //border-bottom: 1px solid white;
    }
  }
}

.base-link.link-main-simple {
  color: $text;
  & .base-link__text {
    text-decoration: none;
  }

  &:hover, &.active {
    color: $text;

    & .base-link__text {
      color: $text;
      text-decoration: underline;
      text-decoration-color: $text;
      //border-bottom: 1px solid $text;
    }
  }
}

ul {
  list-style: none;
  padding: 0;

  & li {
    display: flex;
    @include desktop {
      line-height: rem-calc(32px);
      margin-bottom: rem-calc(24px);
    }
    @include touch {
      line-height: rem-calc(22px, true);
      margin-bottom: rem-calc(16px, true);
    }

    &:before {
      content: ' \25CF';
      @include desktop {
        font-size: rem-calc(26.6px);
        line-height: rem-calc(28px);
        margin-right: rem-calc(16px);
      }
      @include touch {
        font-size: rem-calc(26.6px, true);
        line-height: rem-calc(18px, true);
        margin-right: rem-calc(8px, true);
      }
    }
  }
}

ol {
  counter-reset: foo;
  display: table;

  & > li {
    counter-increment: foo;
    display: flex;
    @include desktop {
      padding-top: rem-calc(24px);
    }
    @include touch {
      padding-top: rem-calc(12px, true);
    }
  }

  & > li::before {
    content: counter(foo) ".";
    display: inline-block; /* aha! */
    text-align: right;
    @include desktop {
      padding-right: rem-calc(16px);
    }
    @include touch {
      padding-right: rem-calc(8px, true);
    }
  }
}

div.icons-menu {
  & a {
    color: $surface;
    display: flex;
    & span {
      @include desktop {
        margin-left: rem-calc(14px);
        text-underline-offset: rem-calc(4px);
      }
      @include touch {
        margin-left: rem-calc(14px, true);
        text-underline-offset: rem-calc(4px, true);
      }
      display: inline-block;
      //border-bottom: 1px solid $link-underline;
      text-decoration: underline;
      text-decoration-color: $link-underline !important;
      text-decoration-thickness: 1px;
    }
    &:hover {
      & span {
        text-decoration-color: $surface !important;
      }
    }
    @include desktop {
      padding-bottom: rem-calc(36px);
    }
    @include touch {
      padding-bottom: rem-calc(24px, true);
    }
    &.caret {
      &:before {
        content: url("/img/icons/caret-surface.svg");
      }
    }
    &.arrow-down {
      &:before {
        content: url("/img/icons/arrow-down.svg");
      }
    }
  }
  &.mini {
    & a {
      & span {
        @include desktop {
          margin-left: rem-calc(12px);
          font-size: $size-5;
        }
        @include touch {
          margin-left: rem-calc(12px, true);
          font-size: $size-touch-5;
        }
      }
      @include desktop {
        padding-bottom: rem-calc(8px);
      }
      @include touch {
        padding-bottom: rem-calc(16px, true);
      }
    }
  }
}

.phone-text {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
}

.left-top-border {
  border-left: 1px solid $grey;
  border-top: 1px solid $grey;

  &.white-opacity {
    border-left: 1px solid rgba(255, 255, 255, .25);
    border-top: 1px solid rgba(255, 255, 255, .25);
  }

  &.mobile-simple {
    @include touch {
      border-left: none;
      padding-left: 0;
      padding-right: 0;
      height: auto !important;
    }
  }

  &.simple {
    height: auto !important;
  }

  @include desktop {
    padding: rem-calc(47px) 0 rem-calc(47px) rem-calc(39px);
    height: rem-calc(276px);
  }
  @include touch {
    padding: rem-calc(24px, true) rem-calc(16px, true) 0 rem-calc(16px, true);
    height: rem-calc(148px, true);
  }
}

.subjects {
  display: flex;
  flex-wrap: wrap;
  @include desktop {
    margin: -12px;
  }
  @include touch {
    margin: -8px;
  }
  & > .subject {
    @include desktop {
      flex: 0 1 25%;
      padding: rem-calc(12px)
    }
    @include touch {
      flex: 0 1 50%;
      padding: rem-calc(8px, true)
    }
    & .left-top-border {
      @include desktop {
        //padding: rem-calc(47px) 0 rem-calc(47px) rem-calc(39px);
        //height: rem-calc(276px);
      }
      @include touch {
        padding: rem-calc(16px, true) rem-calc(16px, true) 0 rem-calc(16px, true);
        //height: rem-calc(148px, true);
      }
    }
  }
}

.collapse-block {
  &__content {
    @include desktop {
      padding-left: rem-calc(56px);
      margin-top: rem-calc(48px);
    }
    @include touch {
      margin-top: rem-calc(32px, true);
      padding-left: rem-calc(24px, true);
    }
    max-height: 0;
    overflow: hidden;
    //transition: max-height 0.3s linear;
    &.active {
      //max-height: rem-calc(500px);
      max-height: unset;
    }
  }
  @include desktop {
    padding: rem-calc(56px) 0 rem-calc(64px) 0;
  }
  @include touch {
    padding: rem-calc(32px, true) 0 rem-calc(32px, true) 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
  &.with-divider:not(:last-child) {
    border-bottom: 1px solid $grey;
  }
}

.grecaptcha-badge {
  z-index: 50;
}
