<template>
  <Menu link-color="link-main-simple" show_search_button />
</template>

<script>
import Menu from "@/layouts/header/Menu";

export default {
name: "HeaderMenuWrapper",
  components: {Menu}
}
</script>

<style scoped>

</style>
