<template>
  <div class="screen-price has-text-white" :class="{'bg1': active_option === 1, 'bg2': active_option === 2}">
    <div class="landing-screen">
      <h2>
        Цена
      </h2>
      <div class="screen-price__content">
        <div class="price-options">
          <div
            class="price-option"
            :class="{'active': active_option === 1}"
            @click="active_option = 1"
          >
            <h3 class="price-option__title pb-4" v-html="option1Title"></h3>
            <div class="price-option__info" :class="{'active': active_option === 1}">
              <div v-html="option1Content"></div>
            </div>
          </div>
          <div
            class="price-option"
            :class="{'active': active_option === 2}"
            @click="active_option = 2"
          >
            <h3 class="price-option__title pb-4" v-html="option2Title"></h3>
            <div class="price-option__info" :class="{'active': active_option === 2}">
              <div v-html="option2Content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Screen5",
  props: {
    option1Title: {
      type: String,
      default: () => ("Снизим стоимость сметы<br>без потери качества")
    },
    option1Content: {
      type: String,
      default: () => ("<ul class=\"ul-white\">\n" +
        "<li>Наши сертифицированные инженеры помогут снизить стоимость сметы и пересогласовать проект, а значит " +
        "заработать больше, без потери качества и работоспособности технического решения " +
        "</li>" +
        "<li>Предоставим скидку от производителя</li>" +
        "</ul>")
    },
    option2Title: {
      type: String,
      default: () => ("Любой вариант оплаты")
    },
    option2Content: {
      type: String,
      default: () => ("<ul class=\"ul-white\">" +
        "<li>Частичная и полная отсрочка оплаты за товар</li>" +
        "<li>Бартерные сделки с недвижимостью</li>" +
        "</ul>")
    },
  },
  data() {
    return {
      active_option: 1
    }
  }
}
</script>

<style>

</style>
