<template>
  <Page>
    <Header v-slot:header/>
    <div class="columns is-gapless is-flex-wrap-wrap">
      <CaseBegin :name="name"/>
    </div>
    <div class="section with-divider">
      <div class="section__half">
        <h2 class="slight" id="problem">
          Задача
        </h2>
        <slot name="problem"/>
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__half">
        <h2 class="slight" id="solution">
          Решение
        </h2>
        <slot name="solution"/>
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__full pb-0-touch">
        <div class="section__columns">
          <div class="column-3-4 offset-40 pb-0-touch">
            <div class="content-wrapper">
              <h2 class="slight" id="project">
                Проект
              </h2>
              <slot name="project-description"/>
            </div>
          </div>
          <div class="column-1-4 pt-14 is-hidden-touch">
            <div class="left-top-border mobile-simple">
              <div class="pb-3 has-text-weight-bold">
                Нужен проект?
              </div>
              <p>
                Мы поможем его составить и укомплектовать. Оставьте свои контактные, менеджер свяжется с вами
                и укомплектует проект.
              </p>
              <Link href="#feedback">
                Оставить заявку
              </Link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <slot name="project-advanced"/>
    </div>
    <div class="section">
      <div class="section__half">
        <h2 class="slight" id="result">
          Результат
        </h2>
        <slot name="result" />
      </div>
    </div>
    <ReadMoreSection :next-article="nextCase" is-case path-to-articles-base="/cases" />
    <FeedbackSection />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import CaseBegin from "@/components/CaseBegin";
import cases from "@/mixins/cases";
import ReadMoreSection from "@/components/ReadMoreSection";
import FeedbackSection from "@/layouts/FeedbackSection";
import Link from "@/components/Link";

export default {
  name: "PageCase",
  components: {Link, FeedbackSection, ReadMoreSection, CaseBegin, Header, Page},
  props: ["name"],
  mixins: [cases]
}
</script>

<style scoped>

</style>
