<template>
  <Page>
    <Header v-slot:header/>
    <div class="section">
      <div class="section__full pb-0">
        <Breadcrumbs>
          <Breadcrumb href="/">
            Главная
          </Breadcrumb>
          <Breadcrumb href="/articles">
            Статьи
          </Breadcrumb>
        </Breadcrumbs>
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__full">
        <div class="article-wrapper">
          <div class="article-wrapper__left">
            <div class="article-wrapper__category">
              {{ currentCategory.title }}
            </div>
            <ArticleShares class="is-hidden-touch" />
          </div>
          <div class="article-wrapper__container">
            <slot/>
          </div>
        </div>
      </div>
    </div>
    <slot name="outside" />
    <div class="section">
      <div class="section__full pb-0">
        <div class="article-content">
          <h2 class="has-text-black" id="feedback">
            Приглашаем монтажников
            к сотрудничеству
          </h2>
          <p class="pt-5 is-size-3">
            С вас: объекты, с нас — оборудование отменного качества в срок и по привлекательным ценам!
          </p>
          <FeedbackForm term_checkbox />
        </div>
      </div>
    </div>
    <ReadMoreSection path-to-articles-base="/articles" :next-article="{title: 'Как отличить фиттинг от миттинга? Разбор проблемы.', name: 'fish'}" />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Breadcrumb from "@/components/Breadcrumb";
import Breadcrumbs from "@/components/Breadcrumbs";
import articleCategories from "@/mixins/article-categories";
import ArticleShares from "@/components/ArticleShares";
import ReadMoreSection from "@/components/ReadMoreSection";
import FeedbackForm from "@/widgets/FeedbackForm";

export default {
  name: "PageArticle",
  components: {FeedbackForm, ReadMoreSection, ArticleShares, Breadcrumbs, Breadcrumb, Header, Page},
  mixins: [articleCategories],
  props: {
    category: String
  },
  computed: {
    currentCategory() {
      return this.getCategory(this.category);
    }
  }
}
</script>

<style scoped>

</style>
