<template>
  <div class="article-preview">
    <div class="article-preview__category">
      <span>{{currentCategory.title}}</span>
    </div>
    <div class="article-preview__content">
      <Link :href="`/articles/${path}`" :icon="null" class="is-size-2 is-size-2-touch simple">
        <slot name="title" />
      </Link>
      <div class="article-preview__text pt-3">
        <slot name="text" />
      </div>
    </div>
    <div class="article-preview__img">
      <slot name="img" />
    </div>
  </div>
</template>

<script>
import articleCategories from "@/mixins/article-categories";
import Link from "@/components/Link";

export default {
  name: "ArticlePreview",
  components: {Link},
  props: {
    category: String,
    path: String
  },
  mixins: [articleCategories],
  computed: {
    currentCategory() {
      return this.getCategory(this.category);
    }
  }
}
</script>

<style scoped>

</style>
