<template>
  <div class="item" :href="href">
    <a :href="href">
      <slot />
    </a>
  </div>
</template>

<script>
export default {
  name: "Breadcrumb",
  props: ["href"]
}
</script>

<style scoped>

</style>
