<template>
  <div class="contact-map">
    <yandex-map
      :coords="map_pos.coord"
      :zoom="map_pos.zoom"
      style="width: 100%; height: 100%;"
      :controls="[]"
      map-type="map"
      @map-was-initialized="mapLoaded"
    >
      <ymap-marker
        v-for="marker in markers"
        :key="marker.id"
        :marker-id="marker.id"
        :coords="marker.coords"
        :icon="marker.icon"
        :balloon-template="ballon_template(marker)"
      />
    </yandex-map>
  </div>
</template>

<script>
import RedPopup from "@/components/RedPopup";
import FeedbackSection from "@/layouts/FeedbackSection";
import Link from "@/components/Link";
import Breadcrumbs from "@/components/Breadcrumbs";
import Breadcrumb from "@/components/Breadcrumb";
import Header from "@/layouts/header/Header";
import Page from "@/components/Page";

export default {
name: "ContactMap",
  components: {RedPopup, FeedbackSection, Link, Breadcrumbs, Breadcrumb, Header, Page},
  props: ["markers"]
}
</script>

<style scoped>

</style>
