<template>
  <div>
    <a class="read-more-section section section--accent" v-if="!!href" :href="href">
      <div class="section__full">
        <h2 class="slight">
          <span v-if="isCase">Следующий кейс</span>
          <span v-else>Читать далее</span>
        </h2>
        <div class="is-size-2 is-size-2-touch read-more-section__title">{{ nextArticle.title }}</div>
        <Link :href="href" icon="caret" color="link-white" class="read-more-section__link">
          <span v-if="isCase">Смотреть кейс</span>
          <span v-else>Читать статью</span>
        </Link>
      </div>
    </a>
  </div>
</template>

<script>
import Link from "@/components/Link";

export default {
  name: "ReadMoreSection",
  components: {Link},
  props: {
    nextArticle: Object,
    isCase: Boolean,
    pathToArticlesBase: String
  },
  computed: {
    href() {
      if (this.pathToArticlesBase && this.nextArticle) {
        return `${this.pathToArticlesBase}/${this.nextArticle.name}`
      } else {
        return undefined;
      }
    }
  }
}
</script>

<style>

</style>
