<template>
  <div
    class="red-popup"
    :class="[{'active': !!value}]"
  >
    <div class="red-popup__cont">
      <div
        class="red-popup__close"
        :class="{'on_layer': close_button_layer}"
        v-if="has_close_button"
        @click="$emit('input', false)"
      ></div>
      <template v-if="!!value">
        <slot/>
      </template>
    </div>
  </div>
</template>

<script>

// import times from "@/static/img/icons/times.svg?inline"

export default {
  name: "RedPopup",
  props: {
    value: Boolean,
    has_close_button: Boolean,
    close_button_layer: Boolean
  },
  // components: {times}
}
</script>

<style >

</style>
