<template>
  <div class="collapse-block">
    <Link :href="`#${id}`" :id="id" class="collapse-block__title is-size-2 is-size-2-touch" :icon="(active ? 'arrowDown' : 'arrowRight')" @click="toggleActive">
      <slot name="title" />
    </Link>
    <div class="collapse-block__content" :class="{'active': active}">
      <slot />
      <Link href="mailto:hr@celsiy.pro">
        Отправить резюме
      </Link>
    </div>
  </div>
</template>

<script>
import Link from "@/components/Link";
export default {
  name: "Vacancy",
  components: {Link},
  props: {
    id: String
  },
  data() {
    return {
      active: false
    }
  },
  mounted() {
    if (this.$route.hash === `#${this.id}`) this.active = true;
  },
  methods: {
    toggleActive() {
      this.active = !this.active;
    }
  }
}
</script>

<style>

</style>
