<template>
  <div class="main-header">
    <div class="cont columns is-gapless">
      <div class="column is-7">
        <LeftHeader></LeftHeader>
      </div>
<!--      <div class="column is-5">-->

<!--      </div>-->
    </div>
  </div>
</template>

<script>
import LeftHeader from "@/layouts/header/LeftHeader";

export default {
  name: "MainHeader",
  components: {LeftHeader}
}
</script>

<style scoped>

</style>
