<template>
  <div>
    <div class="header-menu is-hidden-touch">
      <div v-for="item in menu">
        <Link :href="item.href" :color="linkColor" :icon="null" :class="{active: (item.href === active_menu)}">
          {{ item.text }}
        </Link>
        <!--      <a :href="item.href" class="link-white">{{item.text}}</a>-->
      </div>
      <div v-if="show_search_button">
        <!--        <lens class="icon-button has-text-grey" @click="set_search_active" />-->
        <img :src="lens" @click="set_search_active" class="header-menu__lens"/>
        <RedPopup v-model="search_active">
          <BaseSuggestSearch
            show_close_always
            :menu_showed="value"
            v-on:search_close="close"
          />
        </RedPopup>
      </div>
    </div>
    <div class="mobile-menu is-hidden-desktop" :class="{'show': value}">
      <BaseSuggestSearch
        :menu_showed="value"
        show_close_always
        v-on:string_entered="search_active=true"
        v-on:search_close="close"
      />
      <!--      <div class="mobile-menu__header">-->
      <!--        <img src="/img/icons/lens.svg" class="has-text-white"/>-->
      <!--        <div class="control">-->
      <!--          <input v-model="search_string" class="input" type="text">-->
      <!--        </div>-->
      <!--        <img src="/img/icons/times.svg" class="icon-button has-text-white"-->
      <!--             @click="$emit('input', false)"/>-->
      <!--      </div>-->

      <div class="mobile-menu__menu" v-show="!search_active">
        <div v-for="item in menu">
          <Link :href="item.href" color="link-white-simple" icon="caret">{{ item.text }}</Link>
          <!--      <a :href="item.href" class="link-white">{{item.text}}</a>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Link from "@/components/Link";
import BaseSuggestSearch from "@/components/BaseSuggestSearch";
import RedPopup from "@/components/RedPopup";
import lens from "@/static/img/icons/lens_black.svg"
import Vue from 'vue/dist/vue.esm';

export default {
  name: "Menu",
  props: {
    mobile: Boolean,
    value: Boolean,
    show_search_button: Boolean,
    linkColor: {
      type: String,
      default: () => "link-white-simple"
    }
  },
  components: {RedPopup, BaseSuggestSearch, Link},
  data() {
    return {
      search_active: false,
      lens,
      menu: []
    }
  },
  computed: {
    active_menu() {
      // if (!window) return null;
      try {
        return `/${window.location.pathname.split('/')[1]}`;
      } catch (e) {
        return null;
      }
    },
    // menu() {
    //   return [
    //     {
    //       href: "/equipment",
    //       text: "Оборудование",
    //     },
    //     {
    //       href: "/cases",
    //       text: "Кейсы"
    //     },
    //     {
    //       href: "/articles",
    //       text: "Статьи",
    //     },
    //     {
    //       href: "/vacancies",
    //       text: "Вакансии",
    //     },
    //     {
    //       href: "/about",
    //       text: "О компании",
    //     },
    //     {
    //       href: "/contacts",
    //       text: "Контакты",
    //     }
    //   ]
    // }
  },
  mounted() {
    this.fetch_menu();
  },
  methods: {
    fetch_menu() {
      fetch(`/api/menu.php`, {})
        .then(response => response.json())
        .then(data => {
          this.menu = data.map(item => ({
            href: item[1],
            text: item[0]
          }))
          window.site_menu = this.menu;
        })
    },
    set_search_active() {
      Vue.set(window, 'focus_on_menu_search', true);
      this.search_active = true;
      setTimeout(() => {
        document.querySelectorAll('#search-input').forEach((item) => {
          item.focus();
        });
      }, 200)
    },
    close() {
      this.search_active = false;
      this.$emit('input', false);
    }
  }
}
</script>

<style scoped>

</style>
