<template>
  <Page class="usual-page equipment-page">
    <Header v-slot:header/>
    <div class="section with-divider">
      <div class="section__half with-divider">
        <Breadcrumbs>
          <Breadcrumb href="/">

            Главная
          </Breadcrumb>
        </Breadcrumbs>
        <h1>Оборудование</h1>
        <div class="pt-14">
          <div class="icons-menu is-size-3 is-size-3-touch">
            <a v-for="item in items" :href="item.href" class="caret">
            <span class="is-size-3 is-size-3-touch">
              {{ item.text }}
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="section__half pipes3-bg">
        <div class="is-size-2 is-size-2-touch has-text-black">
          Производители оборудования
        </div>
        <div class="pt-104">
          <div class="columns is-gapless">
            <div class="column">
              <div class="icons-menu mini">
                <a v-for="item in distributors.slice(0,9)" :href="item.href" class="caret">
                  <span>
                    {{ item.text }}
                  </span>
                </a>
              </div>
            </div>
            <div class="column">
              <div class="icons-menu mini">
                <a v-for="item in distributors.slice(9)" :href="item.href" class="caret">
                  <span>
                    {{ item.text }}
                  </span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <FeedbackSection />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import equipment from "@/mixins/equipment";
import Breadcrumbs from "@/components/Breadcrumbs";
import Breadcrumb from "@/components/Breadcrumb";
import FeedbackSection from "@/layouts/FeedbackSection";

export default {
  name: "index",
  components: {FeedbackSection, Breadcrumb, Breadcrumbs, Header, Page},
  mixins: [equipment],
  computed: {
    distributors() {
      return [
        {
          text: "Also",
          href: ""
        },
        {
          text: "Danfoss",
          href: ""
        },
        {
          text: "Funke",
          href: ""
        },
        {
          text: "Genebre",
          href: ""
        },
        {
          text: "Grundfos",
          href: ""
        },
        {
          text: "Sole",
          href: ""
        },
        {
          text: "Vexve",
          href: ""
        },
        {
          text: "Volcano",
          href: ""
        },
        {
          text: "Zetkama",
          href: ""
        },
        {
          text: "АДЛ",
          href: ""
        },
        {
          text: "Декаст Метроник",
          href: ""
        },
        {
          text: "Ридан",
          href: ""
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>
