<template>
  <div class="landing-screen screen-stats">
    <h2 class="has-text-black">Строго выдерживаем сроки поставки,<br>прописанные в договоре.</h2>
    <div class="is-hidden-touch">
      <div class="columns landing-stats">
        <div class="column is-half">
          <div class="columns is-gapless left-top-border">
            <div class="column is-flex-shrink-1 is-flex-grow-0">
              <div class="is-size-2 has-text-black">800</div>
              <div>клиентов</div>
            </div>
            <div class="column has-text-centered">
              <div class="landing-stats__icon">
                <img src="/img/icons/arrow-right-long.svg"/>
              </div>
            </div>
            <div class="column">
              <div class="is-size-2 has-text-black">3</div>
              <div>ТРЦ</div>
            </div>
            <div class="column">
              <div class="is-size-2 has-text-black">15</div>
              <div>ЖК</div>
            </div>
            <div class="column">
              <div class="is-size-2 has-text-black">53</div>
              <div>объекта<br>энергетики</div>
            </div>
          </div>
        </div>
        <div class="column is-half">
          <div class="columns landing-stats__subrow">
            <div class="column">
              <div class="left-top-border">
                <div class="is-size-2 has-text-black">1000 м<sup class="is-size-5">2</sup></div>
                <div>складской комплекс</div>
              </div>
            </div>
            <div class="column">
              <div class="left-top-border">
                <div class="is-size-2 has-text-black">250</div>
                <div>тысяч товаров</div>
              </div>
            </div>
            <div class="column">
              <div class="left-top-border">
                <div class="is-size-2 has-text-black">16</div>
                <div>производителей</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns is-gapless pt-6">
        <div class="column is-half">
          <Link href="/">Все объекты</Link>
        </div>
        <div class="column is-half">
          <div class="pl-3">
            <Link href="/">Поставщики</Link>
          </div>
        </div>
      </div>
    </div>
    <div class="landing-stats-mobile is-hidden-desktop">
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">800</div>
          <div>клиентов</div>
        </div>
      </div>
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">3</div>
          <div>ТРЦ</div>
        </div>
      </div>
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">15</div>
          <div>ЖК</div>
        </div>
      </div>
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">53</div>
          <div>объекта<br>энергетики</div>
        </div>
      </div>
      <div class="column is-full-touch landing-stats-mobile__objects-link">
        <Link href="/">Все объекты</Link>
      </div>
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">1000 м<sup class="is-size-5">2</sup></div>
          <div>складской комплекс</div>
        </div>
      </div>
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">250</div>
          <div>тысяч товаров</div>
        </div>
      </div>
      <div class="column is-half-touch">
        <div class="left-top-border">
          <div class="is-size-0-touch has-text-black">16</div>
          <div>производителей</div>
        </div>
      </div>
      <div class="column is-full-touch landing-stats-mobile__providers-link">
        <Link href="/">Поставщики</Link>
      </div>
    </div>
  </div>
</template>

<script>
import Link from "@/components/Link";

export default {
  name: "Screen4",
  components: {Link}
}
</script>

<style>

</style>
