<template>
  <div class="landing-screen">
    <div class="columns is-gapless is-justify-content-space-between">
      <div class="column">
        <h2 class="has-text-black">От коттеджей и ЖК<br>
          до промышленных предприятий</h2>
      </div>
      <div class="column is-flex-shrink-1 is-flex-grow-0 is-hidden-touch">
        <Link href="/" class="h2-right-notice no-wrap">
          Посмотреть все кейсы
        </Link>
      </div>
    </div>

    <div class="customers">
      <div class="customers-row">
        <div class="column leroymerlin">
          <img src="/img/customers/leroymerlin.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column ilim">
          <img src="/img/customers/ilim.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column stroycomplex is-hidden-mobile">
          <img src="/img/customers/stroycomplex.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column newcity is-hidden-mobile">
          <img src="/img/customers/newcity.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
      </div>
      <hr>
      <div class="customers-row">
        <div class="column rodny_berega is-hidden-mobile">
          <img src="/img/customers/rodny_berega.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column yanta is-hidden-mobile">
          <img src="/img/customers/yanta.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column slata is-hidden-mobile">
          <img src="/img/customers/slata.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column uks is-hidden-mobile">
          <img src="/img/customers/uks.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column stroycomplex is-hidden-desktop">
          <img src="/img/customers/stroycomplex.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
        <div class="column newcity is-hidden-desktop">
          <img src="/img/customers/newcity.png"/>
          <Link href="/">Посмотреть кейс</Link>
        </div>
      </div>
    </div>
    <Link href="/" class="h2-right-notice is-hidden-desktop">
      Посмотреть все кейсы
    </Link>
  </div>
</template>

<script>
import Link from "@/components/Link";

export default {
  name: "Screen2",
  components: {Link},
  computed: {
    customers() {
      return []
    }
  }
}
</script>

<style>

</style>
