<template>
  <Page>
    <Header v-slot:header/>
    <div class="section">
      <div class="section__full pb-0">
        <Breadcrumbs>
          <Breadcrumb href="/">
            Главная
          </Breadcrumb>
        </Breadcrumbs>
        <h1 class="has-text-black">Статьи</h1>
        <ArticleCategoriesFilter/>
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__full">
        <div class="pb-6">
          <template v-for="item in articles">
            <ArticlePreview
              :category="item.category"
              :path="item.path"
            >
              <template v-slot:title>{{ item.title }}</template>
              <template v-slot:text>{{ item.text }}</template>
              <template v-slot:img><img :src="item.img"/></template>
            </ArticlePreview>
          </template>
        </div>
        <ArticlePager :page_counter="3"/>
      </div>
    </div>
    <div class="section with-divider">
      <div class="section__full">
        <SubscribeBlock />
      </div>
    </div>
    <FeedbackSection />
  </Page>
</template>

<script>
import Page from "@/components/Page";
import Header from "@/layouts/header/Header";
import Breadcrumb from "@/components/Breadcrumb";
import Breadcrumbs from "@/components/Breadcrumbs";
import ArticleCategoriesFilter from "@/components/ArticleCategoriesFilter";
import ArticlePreview from "@/components/ArticlePreview";

import ridan from "@/static/img/cases/ridan-mobile.png"
import evolution from "@/static/img/cases/evolution-mobile.png"
import status from "@/static/img/cases/status-mobile.png"
import ArticlePager from "@/components/ArticlePager";
import SubscribeBlock from "@/widgets/SubscribeBlock";
import FeedbackSection from "@/layouts/FeedbackSection";

export default {
  name: "index.vue",
  components: {
    FeedbackSection,
    SubscribeBlock,
    ArticlePager, ArticlePreview, ArticleCategoriesFilter, Breadcrumbs, Breadcrumb, Header, Page},
  computed: {
    articles() {
      return [
        {
          category: 'news',
          title: 'Обслуживание теплообменного оборудования «Ридан» на Братской ГЭС',
          text: 'Политическая система доказывает теоретический коллапс Советского Союза. Политическая социализация, как правило, приводит либерализм.',
          path: 'ridan-started',
          img: ridan
        },
        {
          category: 'announcements',
          title: 'Комплектация теплообменного оборудования ЖК «Эволюция»',
          text: 'Принимая во внимание позицию Ф.Фукуямы, континентально-европейский тип политической культуры неравномерен. Механизм власти, как правило, практически определяет культ личности, утверждает руководитель аппарата Правительства.',
          path: 'evolution-started',
          img: evolution
        },
        {
          category: 'technologies',
          title: 'Проектирование и поставка отопительной системы для ЖК «Статус»',
          text: 'Технология коммуникации обретает системный авторитаризм, впрочем, не все политологи разделяют это мнение. ',
          path: 'status-started',
          img: status
        },
        {
          category: 'news',
          title: 'Обслуживание теплообменного оборудования «Ридан» на Братской ГЭС',
          text: 'Политическая система доказывает теоретический коллапс Советского Союза. Политическая социализация, как правило, приводит либерализм.',
          path: 'ridan-started',
          img: ridan
        },
        {
          category: 'announcements',
          title: 'Комплектация теплообменного оборудования ЖК «Эволюция»',
          text: 'Принимая во внимание позицию Ф.Фукуямы, континентально-европейский тип политической культуры неравномерен. Механизм власти, как правило, практически определяет культ личности, утверждает руководитель аппарата Правительства.',
          path: 'evolution-started',
          img: evolution
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>
